{%extends 'dashboard.html'%}
{%block body %}
{%if messages%}
{%for message in messages%}
<div class="alert alert-success" role="alert">{{message}}</div>
{%endfor%}
{%endif%}
<!-- Content wrapper -->
<div class="content-wrapper">
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Subscription /</span> Manage Subscription</h4>
<br>
<br>
<a href="{%url 'dashboard'%}" class="btn btn-success">Go Back</a>

{%if subscription%} 
<!-- Basic Bootstrap Table -->
<div class="card">
<h5 class="card-header"><strong>Subscription Details</strong></h5>
<div class="table-responsive text-nowrap">  
<table class="table">
<thead>
  <tr>
    <th><strong>Email</strong></th>
  </tr>
</thead>
{%for sub in subscription%}
<tbody class="table-border-bottom-0">
  <tr>
    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{sub.email}}</strong></td>
    <!-- <td>{{blogs.posted_date}}</td> -->
    <!-- <td>
      {%if enquiry.status == "unread"%}
      <span class="badge bg-label-success me-1">unread</span>
      {%else%}
      <span class="badge bg-label-danger me-1">viewed</span>
      {%endif%}
    </td> -->
    <td>
      <div class="dropdown">
        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="bx bx-dots-vertical-rounded"></i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href=""><i class="bx bx-info-circle me-1"></i> View</a>
        <!-- <a class="dropdown-item" href=""><i class="bx bx-edit-alt me-1"></i> Edit</a> -->
        <a class="dropdown-item" href=""><i class="bx bx-trash me-1"></i> Delete</a>
      
      </div>
      </div>
    </td>
  </tr>
  {%endfor%}
</tbody>
</table>
</div>
</div>
<!--/ Basic Bootstrap Table -->
{%else%}
    <div class="py-5">
        <div class="row justify-content-center mb-3">
          <center><strong>Sorry! No Subscription found at the moment</strong></center>
        </div>
    </div>
{%endif%}
{%endblock%}