{% extends 'base.html' %}
{% load static %}{% block title %}Service- tezco{% endblock %}
{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Our Services</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                            <li class="breadcrumb-item text-white active" aria-current="page">Our Services</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="" style="max-height: 300px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

 <!-- Service Start -->
 <div class="container-fluid bg-light mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Services</div>
                <h1 class="mb-4">Our Excellent AI Solutions for Your Business</h1>
                <p class="mb-4">We leverage advanced artificial intelligence technologies to deliver customized solutions that enhance efficiency, improve decision-making, and drive growth.</p>
                <a class="btn btn-primary rounded-pill px-4" href="">Read More</a>
            </div>
            <div class="col-lg-7">
                <div class="row g-4">
                    <div class="col-md-6">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                    <div class="service-icon btn-square">
                                        <i class="fa fa-robot fa-2x"></i>
                                    </div>
                                    <h5 class="mb-3">Web Development</h5>
                                    <p style="text-align: justify;">Web development involves creating websites and web applications that can range from simple static pages to complex interactive platforms.</p>
                                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                    <div class="service-icon btn-square">
                                        <i class="fa fa-power-off fa-2x"></i>
                                    </div>
                                    <h5 class="mb-3">Annotation</h5>
                                    <p style="text-align: justify;">Annotation in the context of data and machine learning refers to the process of labeling or tagging data to make it usable for training machine learning models. It involves adding meaningful information or metadata to the raw data, allowing algorithms to learn from examples and make accurate predictions or classifications.</p>
                                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-md-4">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                    <div class="service-icon btn-square">
                                        <i class="fa fa-graduation-cap fa-2x"></i>
                                    </div>
                                    <h5 class="mb-3">ERP softwares</h5>
                                    <p style="text-align: justify;">Enterprise Resource Planning (ERP) is a type of integrated software solution that manages and streamlines core business processes in real-time. It helps organizations, both large and small, to collect, store, manage, and interpret data from various business activities.</p>
                                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                    <div class="service-icon btn-square">
                                        <i class="fa fa-brain fa-2x"></i>
                                    </div>
                                    <h5 class="mb-3">Machine Learning</h5>
                                    <p style="text-align: justify;">Machine Learning (ML) is a subset of artificial intelligence (AI) that focuses on enabling machines to learn from data without explicit programming. It allows computers to find patterns, make predictions, and improve their performance over time.</p>
                                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<div class="container-fluid bg-light py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <!-- <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Case Study</div> -->
            <h1 class="mb-4">Other Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'img/project-1.jpg' %}" alt="">
                    <a class="case-overlay text-decoration-none" href="#">
                        <small>Social Media Marketing</small>
                        <h5 class="lh-base text-white mb-3">Social media marketing is a powerful tool for businesses to connect with their audience, build brand awareness, and drive sales.
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'img/project-2.jpg' %}" alt="">
                    <a class="case-overlay text-decoration-none" href="#">
                        <small>IT Consulting</small>
                        <h5 class="lh-base text-white mb-3">
                            ChatGPT
                            IT consulting involves providing expert advice and guidance to businesses regarding their information technology (IT) needs and challenges.
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'img/project-3.jpg' %}" alt="">
                    <a class="case-overlay text-decoration-none" href="#">
                        <small>Internships</small>
                        <h5 class="lh-base text-white mb-3">Internships are valuable opportunities for students or individuals looking to gain practical experience in a specific field or industry
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Case End -->
<!-- Testimonial Start -->
<!-- <div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Testimonial</div>
                <h1 class="mb-4">What Say Our Clients!</h1>
                <p class="mb-4">Our expertise spans across various domains, including web development, mobile applications, AI, and machine learning.Our team combines technical proficiency with creative thinking to produce high-quality, efficient, and scalable software solutions that drive business success.</p>
                <a class="btn btn-primary rounded-pill px-4" href="">Read More</a>
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel border-start border-primary">
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-1.jpg' %}"
                                style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Client Name</h5>
                                <span>Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-2.jpg' %}"
                                style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Client Name</h5>
                                <span>Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-3.jpg' %}"
                                style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Client Name</h5>
                                <span>Profession</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Testimonial End -->

    {% endblock %}